:root
{
  --clr-primary-200: #6928A7;
  --clr-primary-400: #FFF;

  --clr-neutral-100: #D0BCD5;
  --clr-neutral-900: #0B0B0B;

  --ff-primary: 'Roboto', sans-serif;
  --ff-accent: 'Playfair Display', serif;
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

body
{
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 1.3125rem;
  line-height:1.6;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3
{
  color: var(--clr-primary-400);
  font-family: var(--ff-accent);
  font-weight: 900;
  line-height: 1;
}

h2,
h3,
p
{
  margin-bottom: 1em;
}

img{
  display: block;
  max-width: 100%;
}

.text-center
{
  text-align: center;
}

header,
section
{
  padding: 3rem 0;
}

@media (min-width: 40em)
{
  header,
  section
  {
    padding: 7rem 0;
  }
}

.container
{
  margin-inline: auto;
  width: min(90%,70.5rem);
}

.container--narrow
{
  max-width: 30rem;
}

.split{
  display: flex;
  flex-direction: column;
}

@media (min-width: 40em)
{
  .split{
    flex-direction: row;
  }

  .split > *{
    flex-basis: 100%;
  }

  .split > * + * {
    margin-left: 2em;
  }
}

.bg-title 
{
  background-color: var(--clr-primary-200);
}

.bg-about 
{
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-900);
}

.bg-game 
{
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-900);
}

.bg-details 
{
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
}

.bg-about h2,
.bg-details h2
{
  color: var(--clr-primary-200);
}

.button {
  appearance: button;
  background-color: #6928A7;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
  border: 1px solid #6928A7;
  border-radius: 1rem;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,rgba(46, 54, 80, 0.075) 0 1px 1px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  padding: .5rem 1rem;
  text-align: center;
  text-transform: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button:focus:not(:focus-visible),
.button:focus {
  outline: 0;
}

.button:hover {
  background-color: #9b3cf3;
  border-color: #9b3cf3;
}

.button:focus {
  background-color: #9b3cf3;
  border-color: #9b3cf3;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}

.button:active {
  background-color: #9b3cf3;
  background-image: none;
  border-color: #3A38AE;
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
}

.button:active:focus {
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}

.button:disabled {
  background-image: none;
  box-shadow: none;
  opacity: .65;
  pointer-events: none;
}

input {
  width: 100%;
}

a {
  text-decoration: none;
  color: blue;
}
a:hover {
  text-decoration: none;
}
h1 > a {
  display: inline-block;
}

a:visited { 
  text-decoration: none; 
  color: none; 
 }